
.box {
  display: flex;
  flex-direction: column;
  max-width: 18.4375rem;
  max-height: 25.5rem;
  margin: 0 auto;
  text-decoration: none;
}

.pic {
  width: 100%;
  max-height: 18.625rem;
}

.picPng {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
}

.name {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  max-height: 1.6875rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-decoration: none;
  

  color: $black_color;
  @include sato(bold, 1.25rem);
  @media screen and (max-width: 1200px) {
    @include sato(bold, 1.2rem);
  }
  @media screen and (max-width: 992px) {
    @include sato(bold, 1.5rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(bold, 1.25rem);
  }
  @media screen and (max-width: 576px) {
    @include sato(bold, 1.5rem);
    margin-top: .5rem;
    margin-bottom: .25rem;
  }
  @media screen and (max-width: 390px) {
    @include sato(bold, 1.25rem);
    margin-top: .5rem;
    margin-bottom: .25rem;
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  max-height: 1.1875rem;
}

.ratingStars {
  display: flex;
  align-items: center;
  gap: 0.3438rem;
  @media screen and (max-width: 1200px) {
    gap: 0.27rem;
  }
  @media screen and (max-width: 768px) {
    gap: 0.3438rem;
  }
  @media screen and (max-width: 576px) {
    gap: 0.1438rem;
  }
}

.star {
  width: 1.1563rem;
  height: auto;
  @media screen and (max-width: 1200px) {
    width: 1.125rem;
  }
  @media screen and (max-width: 992px) {
    width: 0.9rem;
  }
  @media screen and (max-width: 768px) {
    width: 1.1563rem;
  }
  @media screen and (max-width: 576px) {
    width: 1rem;
  }
}

.ratingNum {
  display: flex;
  text-align: center;
  color: $black_color;
  @include sato(normal, 1rem);
  @media screen and (max-width: 1200px) {
    transform: translateY(0.1062rem);
    @include sato(normal, 0.95rem);
  }
  @media screen and (max-width: 992px) {
    transform: translateY(0.0625rem);
    @include sato(normal, 0.9rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(normal, 1rem);
  }
  @media screen and (max-width: 576px) {
    @include sato(normal, 0.8rem);
    transform: translateY(0.092rem);
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.5rem;
  max-height: 2rem;
}

.priceTotal {
  display: flex;
  text-align: center;
  color: $black_color;
  @include sato(bold, 1.5rem);
  @media screen and (max-width: 1200px) {
    @include sato(bold, 1.4rem);
  }
  @media screen and (max-width: 992px) {
    @include sato(bold, 1.2rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(bold, 1.5rem);
  }
  @media screen and (max-width: 576px) {
    @include sato(bold, 1.2rem);
  }
}

.priceOld {
  display: flex;
  text-align: center;
  color: $gray_color;
  text-decoration: line-through;
  @include sato(bold, 1.5rem);
  @media screen and (max-width: 1200px) {
    @include sato(bold, 1.4rem);
  }
  @media screen and (max-width: 992px) {
    @include sato(bold, 1.2rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(bold, 1.5rem);
  }
  @media screen and (max-width: 576px) {
    @include sato(bold, 1.2rem);
  }
}

.priceDiscount {
  background-color: #ff333310;
  color: #ff3333;
  border-radius: 3.875rem;
  padding: 0.375rem 0.875rem;
  @include sato(normal, 0.9rem);

  @media screen and (max-width: 1200px) {
    padding: 0.3125rem 0.75rem;
    @include sato(normal, 0.8rem);
  }
  @media screen and (max-width: 992px) {
    padding: 0.17rem 0.5rem;
  }
  @media screen and (max-width: 768px) {
    @include sato(normal, 0.9rem);
  }
  @media screen and (max-width: 576px) {
    @include sato(normal, 0.8rem);
  }
}
