
.headerMenuIcon {
  width: 100%;
  max-width: 10rem;
  color: $black_color;
  text-shadow:  0rem .25rem .25rem #0000002f; 
  text-decoration: unset;
  display: flex;
  transform: translateY(-7%);
  @include int(bold,2rem);
  @include display(flex, null, null, center);
  @media screen and (max-width: 768px) {
    transform: translateY(-10%);
  }
  @media screen and (max-width: 576px) {
    order: 1;
    transform: translateY(-11%);
    max-width: 7rem;
  }
  @media screen and (max-width: 390px) {
    order: 0;
    width: 100%;
    max-width: unset;
    display: flex;
    justify-content: center;
    @include int(bold,2rem);
    max-height: 2.1875rem;
    transform: translateY(-15%);
    margin-bottom: .625rem;
  }
}
