

.inner {
  display: flex;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 5rem;
  @media screen and (max-width: 1200px) {
    margin-top: 1.20rem;
    margin-bottom: 4.8rem;
  }
  @media screen and (max-width: 992px) {
    margin-top: 1.15rem;
    margin-bottom: 4.6rem;
  }
  @media screen and (max-width: 768px) {
    margin-top: 1.1rem;
    margin-bottom: 4.4rem;
  }
  @media screen and (max-width: 576px) {
    margin-top: 1.05rem;
    margin-bottom: 4.2rem;
  }
  @media screen and (max-width: 390px) {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.box {
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 2.5rem;
  padding: 4.375rem 4rem;
  @media screen and (max-width: 1200px) {
    padding: 3.9375rem 3.625rem;
  }
  @media screen and (max-width: 992px) {
    padding: 3.25rem 3rem;
  }
  @media screen and (max-width: 768px) {
    padding: 1.8rem 1.4rem;
  }
}

.text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  @include int(bold, 3rem);
  color: $black_color;
  margin-bottom: 4rem;
  @media screen and (max-width: 1200px) {
    @include int(bold, 2.75rem);
    margin-bottom: 3.5rem;
  }
  @media screen and (max-width: 992px) {
    @include int(bold, 2.5rem);
    margin-bottom: 3.2rem;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 1.5rem;
    @include int(bold, 1.8rem);

  }
  @media screen and (max-width: 576px) {
    display: none;

  }
}

.twoText{
  display: none;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: $black_color;
  margin-bottom: 2.5rem;
  @include int(bold, 3rem);
  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    @include int(bold, 2rem);
  }
  @media screen and (max-width: 390px) {
    @include int(bold, 1.2rem);
    margin-bottom: 1.5rem;
  }
}

.span {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  border-radius: 1.25rem;

  @media screen and (max-width: 1200px) {
    grid-column-gap: 1.15rem;
    grid-row-gap: 1.15rem;
  }
  @media screen and (max-width: 992px) {
    grid-column-gap: 1.05rem;
    grid-row-gap: 1.05rem;
  }
  @media screen and (max-width: 768px) {
    grid-column-gap: 0.95rem;
    grid-row-gap: 0.95rem;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.35rem;
  }
  @media screen and (max-width: 390px) {
    grid-row-gap: 1.05rem;
  }
}

.item {
  display: flex;
  position: relative;
  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    @media screen and (max-width: 576px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  &:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
    @media screen and (max-width: 576px) {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
  &:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
    @media screen and (max-width: 576px) {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
  &:nth-child(4) {
    grid-area: 2 / 3 / 3 / 4;
    @media screen and (max-width: 576px) {
      grid-area: 4 / 1 / 5 / 2;
    }
  }
}

.itemText {
  @include sato(bold, 2.25rem);
  color: $black_color;
  margin: 1.5625rem 2.25rem;
  position: absolute;
  @media screen and (max-width: 1200px) {
    margin: 1.4rem 2.15rem;
    @include sato(bold, 2.02rem);
  }
  @media screen and (max-width: 992px) {
    @include sato(bold, 1.4rem);
    margin: 0.9375rem 1.5rem;
  }
  @media screen and (max-width: 768px) {
    @include sato(bold, 1.05rem);
    margin: 0.7375rem 1rem;
  }
  @media screen and (max-width: 576px) {
    @include sato(bold, 1.5rem);
    margin: 1.25rem 1.75rem;
  }
  @media screen and (max-width: 390px) {
    @include sato(bold, 1.25rem);
    margin: 1rem 1.35rem;
  }
}

.itemSvg {
  border-radius: 1.25rem;
  width: 100%;
  max-height: 289px;
  height: auto;
  @media screen and (max-width: 576px) {
    max-height: 190px;
  }
}
