@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.inner{
    display: flex;
    width: 100%;
    height: 100%;
}

.line{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #0000001f;
}