.arrivalsInner{
    display: flex;
    width: 100%;
}

.arrivalsBox{
    display: flex;
    flex-direction: column;
}

.arrivalsText{
    @include int(bold, 3.25rem);
    text-align: center;
    margin: 1.5625rem 0;
    @media screen and (max-width:768px){
        @include int(bold, 3rem);
    }
    @media screen and (max-width:568px){
        @include int(bold, 2.25rem);
    }
    @media screen and (max-width:390px){
        @include int(bold, 1.75rem);
    }
}