
.mainContainer{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    max-height: 15rem;
    gap: .9375rem;
    padding: 1.75rem 2rem;
    border: .0625rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    @media screen and (max-width:1200px){
        max-width: 19.6875rem;
        gap: .75rem;
    }
    @media screen and (max-width:390px){
        max-width: 16.875rem;
        gap: .6rem;
    }
}

.ratingContainer{
    width: 100%;
    display: flex;
    align-items: center;
}

.nameContainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.name{
    display: flex;
    align-items: center;
    @include sato(bold,1.25rem);
    color: $black_color;
    @media screen and (max-width:1200px){
        @include sato(bold,1.2rem);
    }
}

.nameVerification{
    display: flex;
    width: 1.5rem;
    height: auto;
    color: #01AB31;
}

.textContainer{
    width: 100%;
    display: flex;
    height: 100%;
}

.txt{
    @include sato(normal,1rem);
    color: rgba(0, 0, 0, 0.6);
    @media screen and (max-width:1200px){
       @include sato(normal,0.9rem);
    }
    @media screen and (max-width:390px){
       @include sato(normal,0.75rem);
    }
}

.reviewContainer{
    display: flex;
    flex-direction: column;
    @media screen and (max-width:390px){
        gap: 0.25rem;
    }
}


