.shopInner {
  display: flex;
  width: 100%;
}

.shopText {
  width: 100%;
  text-align: center;
  @include int(bold, 3.25rem);
  margin-top: 2.5rem;
  @media screen and (max-width:992px){
    @include int(bold, 2.75rem);
  }
  @media screen and (max-width:768px){
    @include int(bold, 2.25rem);
  }
  @media screen and (max-width:576px){
    @include int(bold, 1.75rem);
  }
  @media screen and (max-width:390px){
    @include int(bold, 1.25rem);
  }
}

.shopTableBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  background-color: $white_color;
  padding: 1.5625rem 1.25rem;
  border-radius: 2.1875rem;
  margin: 2.5rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  @media screen and (max-width: 768px){
    margin: 2.5rem 0;
    padding: 0;
  }
}

.shopTableMen {
  position: relative;
  display: flex;
  justify-content: end;
  grid-area: 1 / 1 / 2 / 2;
  max-height: 25rem;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f5f5f5;
  border-radius: 2.1875rem;
  @media screen and (max-width: 1200px) {
    grid-area: 1 / 1 / 2 / 2;
  }
  @media screen and (max-width:576px){
    justify-content: center;
  }
  @media screen and (max-width:390px){
    max-height: 18.75rem;  
  }
}

.menText {
  position: absolute;
  padding: 0.9375rem 1.25rem;
  top: 0;
  left: 0;
  @include sato(bold, 3.5rem);
  color: black;
  width: 100%;
  text-align: start;
  @media screen and (max-width:1200px){
    @include sato(bold, 5rem);
  }
  @media screen and (max-width:992px){
    @include sato(bold, 4.5rem);
  }
  @media screen and (max-width:768px){
    @include sato(bold, 4rem);
  }
  @media screen and (max-width:576px){
    text-align: center;
  }
  @media screen and (max-width:390px){
    @include sato(bold, 3rem);
  }
}

.shopTableMenPng {
  display: flex;
  max-width: 21.875rem;
  height: auto;
  @media screen and (max-width:1200px){
    max-width: 46.875rem;
    height: auto;
    transform: scale(120%) translateY(10%) translateX(-10%);
  }
  @media screen and (max-width:992px){
    max-width: 46.875rem;
    height: auto;
    transform: scale(100%) translateY(12.5%) translateX(0%);
  }
  @media screen and (max-width:768px){
    max-width: 46.875rem;
    height: auto;
    transform: scale(90%) translateY(12.5%) translateX(5%);
  }
  @media screen and (max-width:576px){
    justify-content: center;
    transform: scale(75%) translateY(25%) translateX(5%);
  }
  @media screen and (max-width:390px){
    justify-content: center;
    transform: scale(55%) translateY(40%) translateX(5%);
  }
}

.shopTableWomen {
  position: relative;
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  max-height: 25rem;
  max-height: 25rem;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f5f5f5;
  border-radius: 2.1875rem;
  @media screen and (max-width: 1200px) {
    grid-area: 2 / 1 / 3 / 2;
  }
  @media screen and (max-width:576px){
    justify-content: center;
  }
  @media screen and (max-width:390px){
    max-height: 18.75rem;  
  }
}

.womenText {
  position: absolute;
  padding: 0.9375rem 1.25rem;
  margin-right: auto;
  text-align: end;
  top: 0;
  left: 0;
  @include sato(bold, 3.5rem);
  color: black;
  width: 100%;
  @media screen and (max-width:1200px){
    @include sato(bold, 5rem);
  }
  @media screen and (max-width:992px){
    @include sato(bold, 4.5rem);
  }
  @media screen and (max-width:768px){
    @include sato(bold, 4rem);
  }
  @media screen and (max-width:576px){
    text-align: center;
  }
  @media screen and (max-width:390px){
    @include sato(bold, 3rem);
  }
}

.shopTableWomenPng {
  display: flex;
  max-width: 21.875rem;
  height: auto;
  @media screen and (max-width:1200px){
    max-width: 46.875rem;
    height: auto;
    transform: scale(140%) translateY(12.5%) translateX(15%);
  }
  @media screen and (max-width:992px){
    max-width: 46.875rem;
    height: auto;
    transform: scale(100%) translateY(12.5%) translateX(5%);
  }
  @media screen and (max-width:768px){
    max-width: 46.875rem;
    height: auto;
    transform: scale(90%) translateY(12.5%) translateX(-5%);
  }
  @media screen and (max-width:576px){
    justify-content: center;
    transform: scale(75%) translateY(25%) translateX(-5%);
  }
  @media screen and (max-width:390px){
    justify-content: center;
    transform: scale(55%) translateY(40%) translateX(5%);
  }
}

.shopTableOuterwear {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  max-height: 25rem;
  background-color: #f5f5f5;
  grid-area: 2 / 1 / 3 / 3;
  border-radius: 2.1875rem;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    grid-area: 3 / 1 / 4 / 2;
  }
  @media screen and (max-width:390px){
    max-height: 18.75rem;  
  }
}

.outerwearText {
  position: absolute;
  padding: 0 1.25rem;
  margin-right: auto;
  text-align: center;
  top: 0;
  left: 0;
  @include sato(bold, 4rem);
  color: black;
  width: 100%;
  @media screen and (max-width:390px){
    @include sato(bold, 2.5rem);
  }
}

.shopTableOuterwearPng {
  display: flex;
  max-width: 600px;
  height: auto;
  transform: translateY(30%) scale(120%);
  @media screen and (max-width:768px){
    transform: translateY(30%) scale(90%);
  }
  @media screen and (max-width:576px){
    transform: translateY(15%) scale(70%);
  }
  @media screen and (max-width:390px){
    transform: translateY(20%) scale(60%);
  }
}

.shopTableOutfits {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  max-height: 25rem;
  background-color: #f5f5f5;
  grid-area: 3 / 1 / 4 / 3;
  border-radius: 2.1875rem;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    grid-area: 4 / 1 / 5 / 2;
  }
  @media screen and (max-width:390px){
    max-height: 18.75rem;  
  }
}

.shopTableOutfitsPng {
  display: flex;
  max-width: 600px;
  height: auto;
  transform: translateY(25%) scale(120%);
  @media screen and (max-width:768px){
    transform: translateY(30%) scale(90%);
  }
  @media screen and (max-width:576px){
    transform: translateY(18%) scale(65%);
  }
  @media screen and (max-width:390px){
    transform: translateY(20%) scale(60%);
  }
}

.shopTableShoes {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  max-height: 25rem;
  background-color: #f5f5f5;
  grid-area: 4 / 1 / 5 / 3;
  border-radius: 2.1875rem;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    grid-area: 5 / 1 / 6 / 2;
  }
  @media screen and (max-width:390px){
    max-height: 18.75rem;  
  }
}

.shopTableShoesPng {
  display: flex;
  max-width: 600px;
  max-height: 250px;
  transform: translateY(55%);
  @media screen and (max-width:768px){
    transform: translateY(50%) scale(75%);
  }
  @media screen and (max-width:576px){
    transform: translateY(45%) scale(65%);
  }
  @media screen and (max-width:390px){
    transform: translateY(25%) scale(40%);
  }
}
