@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F2F0F1;
    background-image: url(../../../public/first-section.jpg);
    background-position: 92% 18%;
    background-size: 45%;
    background-repeat: no-repeat;
    min-height: 6.25rem;
    overflow: hidden;
}