@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f2f0f1;
  background-image: url(../../../public/first-section.jpg);
  background-position: 94% 18%;
  background-size: 45%;
  min-width: 700px;
  height: auto;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 1440px) {
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      top: -6%;
      right: calc(
        (100% - 1440px) / 2 + (1440px * 0.04)
      );
      width: 620px;
      height: 930px;
      background-image: url(../../../public/first-section.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media screen and (max-width:1440px){
    background-size: 50%;
    background-position: 99% 18%;
  }
  @media screen and (max-width:1200px){
    background-size: 45%;
    background-position: 99% 18%;
  }
}
