.logInner {
  width: 100%;
  display: flex;
  background-color: #f2f0f1;
}

.logBox {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 43.75rem;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    position: relative;
    justify-content: center;
    overflow: hidden;
    min-height: 800px;
  }
  @media screen and (max-width:768px){
    min-height: 825px;
  }
  @media screen and (max-width: 576px){
    min-height: 850px;
  }
}

.logPngContainer {
  display: flex;
  max-width: 50%;
  height: auto;
  max-height: 50rem;
  @media screen and (max-width: 992px) {
    position: relative;
    filter: blur(4px);
    min-height: 43.75rem;
    transform: translateY(8%) scale(120%);
    &::before {
      content: "";
      position: absolute;
      width: 700px;
      height: 43.75rem;
      background-image: url("../../../public/log/first-section-cutted.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%) translateY(2%);
    }
  }
}

.imgMain {
  display: flex;
  max-width: 100%;
  height: auto;
  @media screen and (max-width:1200px){
    transform: scale(120%) translateY(10%);
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.container {
  display: flex;
  z-index: 10;
  max-width: 31.25rem;
  margin: 0 auto;
  background-color: $black_color;
  border-radius: 38px;
  border: 4px solid #f2f0f1;
  transition: all 0.1s ease-in-out;
  &:hover {
    border: 8px solid $black_color;
    .buttonLine {
      width: 100%;
      background-color: $white_color;
    }

    .buttonText {
      color: $white_color;
      text-shadow: 0 0 5px #ffffff70, 0 0 10px #ffffff70, 0 0 15px #ffffff70,
        0 0 20px rgba(255, 255, 255, 0.329);
    }

    .buttonLogin,
    .buttonRegister {
      border: 2px solid $white_color;

      &:hover {
        transition: unset;
        color: $white_color;
        text-shadow: 0 0 5px #ffffff70, 0 0 10px #ffffff70, 0 0 15px #ffffff70,
          0 0 20px rgba(255, 255, 255, 0.329);
        &::before {
          filter: brightness(0) invert(1);
        }
      }

      &:active {
        border: 2px solid $gray_color;
        color: $gray_color;
        text-shadow: unset;
        &::before {
          filter: brightness(0) invert(0.5);
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 0 1rem;
  }
  @media screen and (max-width: 992px) {
    position: absolute;
    border: 4px solid $black_color;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @media screen and (max-width: 390px) {
    margin: 0;
  }
}

.logButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  padding-bottom: 4.5rem;
  @media screen and (max-width: 992px) {
    padding-top: 2.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 4.5rem;
  }
  @media screen and (max-width: 576px) {
    padding: 4rem 2rem;
  }
  @media screen and (max-width: 390px) {
    padding: 3rem 1rem;
  }
}

.buttonText {
  display: flex;
  color: $gray_color;
  @include int(bold, 2rem);
  margin-bottom: 0.625rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  @media screen and (max-width: 992px) {
    color: $white_color;
    text-shadow: 0 0 5px #ffffff70, 0 0 10px #ffffff70, 0 0 15px #ffffff70,
      0 0 20px rgba(255, 255, 255, 0.329);
  }
  @media screen and (max-width: 768px) {
    @include int(bold, 2.5rem);
    margin-bottom: 1.25rem;
  }
  @media screen and (max-width:390px){
    @include int(bold, 2rem);
  }
}

.buttonLine {
  width: 10%;
  margin: 0 auto;
  height: 2px;
  background-color: $gray_color;
  margin-bottom: 0.625rem;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 992px) {
    width: 90%;
    background-color: $white_color;
  }
}

.buttonLogin,
.buttonRegister {
  position: relative;
  display: flex;
  width: 17.5rem;
  height: 2.8125rem;
  border: 0.125rem solid $gray_color;
  background-color: $black_color;
  color: $gray_color;
  @include sato(bold, 1.25rem);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 768px) {
    padding: 35px 0;
    width: 20rem;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.buttonLogin {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  &::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-image: url("../../../public/log/sign-in.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(0.5);
  }
  @media screen and (max-width: 992px) {
    border: 2px solid $white_color;
    color: $white_color;

    &::before {
      filter: brightness(0) invert(1);
    }

    &:active {
      &::before {
        filter: brightness(0) invert(0.5);
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.buttonRegister {
  &::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-image: url("../../../public/log/sign-up.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(0.5);
  }
  @media screen and (max-width: 992px) {
    border: 2px solid $white_color;
    color: $white_color;

    &::before {
      filter: brightness(0) invert(1);
    }

    &:active {
      &::before {
        filter: brightness(0) invert(0.5);
      }
    }
  }
}

.containerLogin {
  display: none;
  width: 100%;
  z-index: 10;
  max-width: 31.25rem;
  margin: 0 auto;
  background-color: $black_color;
  border-radius: 38px;
  border: 4px solid #f2f0f1;
  transition: all 0.1s ease-in-out;
  &:hover {
    border: 4px solid $black_color;
    .buttonLine {
      width: 100%;
      background-color: $white_color;
    }
    .loginText {
      color: $white_color;
      text-shadow: 0 0 5px #ffffff70, 0 0 10px #ffffff70, 0 0 15px #ffffff70,
        0 0 20px rgba(255, 255, 255, 0.329);
    }
  }
   @media screen and (max-width: 1200px) {
    margin: 0 1rem;
  }
  @media screen and (max-width: 992px) {
    position: absolute;
    border: 4px solid $black_color;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @media screen and (max-width: 390px) {
    margin: 0;
  }
}

.containerLoginInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.25rem 5rem;
  @media screen and (max-width: 576px) {
    padding: 1.25rem 1rem;
  }
}

.loginText {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: $gray_color;
  @include int(bold, 2.4rem);
  margin-bottom: 0.625rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  @media screen and (max-width: 992px) {
    text-shadow: 0 0 10px #ffffff70, 0 0 20px #ffffff70, 0 0 30px #ffffff70,
      0 0 40px rgba(255, 255, 255, 0.329);
    color: $white_color;
  }
  @media screen and (max-width:390px){
    @include int(bold, 2rem);
  }
}

.containerLogin {
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.emailContainer {
  transform-origin: left center;
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  position: relative;
  display: flex;
  align-items: end;
  height: 80px;
  margin-top: 1.25rem;
  width: 100%;

  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-50px);
    color: $white_color;
  }
}

.passwordContainer {
  transform-origin: left center;
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  position: relative;
  display: flex;
  align-items: end;
  height: 80px;
  margin-top: 1.25rem;
  width: 100%;

  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-50px);
    color: $white_color;
  }
}

.label {
  display: flex;
  position: absolute;
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transform-origin: left center;
  @include sato(bold, 1.25rem);
  color: $white_color;
  z-index: 1;
  margin-left: 20px;
  transform: translateY(-10px);
  pointer-events: none;
}

.input {
  position: relative;
  background-color: $black_color;
  border: 2px solid $gray_color;
  border-radius: 38px;
  padding: 10px 20px;
  color: $white_color;
  z-index: 0;
  width: 100%;
  @include sato(bold, 1rem);
  &:focus {
    outline: none;
    border: 2px solid $white_color;
    color: $white_color;
  }
}

.loginButton {
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  width: 75%;
  height: 3.75rem;
  border-radius: 2.375rem;
  background-color: $black_color;
  border: 2px solid $gray_color;
  color: $white_color;
  transition: all 0.2s ease-in-out;
  @include sato(bold, 1.25rem);
  &:hover {
    border: 2px solid $white_color;
    text-shadow: 0 0 10px #ffffff70, 0 0 20px #ffffff70, 0 0 30px #ffffff70,
      0 0 40px rgba(255, 255, 255, 0.329);
  }
  &:active {
    transition: none;
    border: 2px solid $gray_color;
    color: $gray_color;
    text-shadow: none;
  }
  @media screen and (max-width:992px){
    text-shadow: 0 0 10px #ffffff70, 0 0 20px #ffffff70, 0 0 30px #ffffff70,
      0 0 40px rgba(255, 255, 255, 0.329);
      color: $white_color;
  }
}

.containerRegister {
  display: none;
  z-index: 10;
  width: 100%;
  max-width: 31.25rem;
  margin: 0 auto;
  background-color: $black_color;
  border-radius: 38px;
  border: 4px solid #f2f0f1;
  transition: all 0.1s ease-in-out;
  &:hover {
    border: 4px solid $black_color;
    .buttonLine {
      width: 100%;
      background-color: $white_color;
    }
    .registerText {
      color: $white_color;
      text-shadow: 0 0 5px #ffffff70, 0 0 10px #ffffff70, 0 0 15px #ffffff70,
        0 0 20px rgba(255, 255, 255, 0.329);
    }
  }
   @media screen and (max-width: 1200px) {
    margin: 0 1rem;
  }
  @media screen and (max-width: 992px) {
    position: absolute;
    border: 4px solid $black_color;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @media screen and (max-width: 390px) {
    margin: 0;
  }
}

.containerRegisterInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.25rem 5rem;
  @media screen and (max-width: 576px) {
    padding: 1.25rem 1rem;
  }
}

.registerText {
  display: flex;
  color: $gray_color;
  @include int(bold, 2rem);
  margin-bottom: 0.625rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  @media screen and (max-width: 992px) {
    color: $white_color;
    text-shadow: 0 0 5px #ffffff70, 0 0 10px #ffffff70, 0 0 15px #ffffff70,
      0 0 20px rgba(255, 255, 255, 0.329);
  }
  @media screen and (max-width: 768px) {
    @include int(bold, 2.5rem);
    margin-bottom: 1.25rem;
  }
  @media screen and (max-width:390px){
    @include int(bold, 2rem);
  }
}

.nameRegContainer {
  transform-origin: left center;
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 80px;
  margin-top: 1.25rem;
  width: 100%;

  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-50px);
    color: $white_color;
  }
}

.goBack{
  color: $white_color;
  @include sato(normal,1rem);
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
  &:active{
    color: $gray_color;
  }
}

.errorMessage{
  margin-top: 10px;
  color: red;
  @include sato(normal,16px)
}
