
.imgContainer {
    display: none;
    width: 100%;
    overflow: hidden;
    max-height: 31.25rem;
    position: relative;
    @media screen and (max-width:768px){
        display: unset;
    }
}

.imgMain{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center 14%;
    @media screen and (max-width:576px){
        height: auto;
        max-height: 400px;
    }
    
    @media screen and (max-width:390px){
        height: auto;
        max-height: 300px;
    }
}