.inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f2f0f1;
  background-image: url(../../../public/first-section.jpg);
  background-position: 94% 18%;
  background-size: 45%;
  height: auto;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 1440px) {
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      top: -6%;
      right: calc((100% - 1440px) / 2 + (1440px * 0.04));
      width: 620px;
      height: 930px;
      background-image: url(../../../public/first-section.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    background-size: 50%;
    background-position: 99% 18%;
  }
  @media screen and (max-width: 1200px) {
    background-size: 45%;
    background-position: 99% 18%;
  }
  @media screen and (max-width: 992px) {
    background-size: 47.5%;
    background-position: 99% 14%;
  }
  @media screen and (max-width: 768px) {
    position: unset;
    background-image: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.imgContainer {
  display: none;
  width: 100%;
  overflow: hidden;
  max-height: 31.25rem;
  position: relative;
  @media screen and (max-width: 768px) {
    display: unset;
  }
}

.imgMain {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center 14%;
  @media screen and (max-width: 576px) {
    height: auto;
    max-height: 400px;
  }

  @media screen and (max-width: 390px) {
    height: auto;
    max-height: 300px;
  }
}

.headerInner {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 37.25rem;
  @media screen and (max-width: 1200px) {
    max-width: 31.25rem;
  }
  @media screen and (max-width: 992px) {
    max-width: 440px;
  }
  @media screen and (max-width: 768px) {
    max-width: unset;
  }
}

.descriptionMenu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 4.25rem;

  @media screen and (max-width: 1200px) {
    margin-top: 2.55rem;
    margin-bottom: 1.7625rem;
    gap: 1.7rem;
  }

  @media screen and (max-width: 992px) {
    margin-top: 2rem;
    margin-bottom: 1.4625rem;
    gap: 1.3rem;
  }

  @media screen and (max-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 0;
    gap: 1.3rem;
    justify-content: center;
  }
  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 390px) {
    gap: 1rem;
    margin-top: 1.4rem;
  }
}

.descriptionItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: $black_color;

  &:nth-child(1) {
    @media screen and (max-width: 576px) {
      display: flex;
      width: 8.75rem;
    }
    @media screen and (max-width: 390px) {
      display: flex;
      width: 6.25rem;
    }
  }

  &:nth-child(3) {
    @media screen and (max-width: 576px) {
      display: flex;
      align-items: end;
      width: 8.75rem;
    }
    @media screen and (max-width: 390px) {
      display: flex;
      width: 6.25rem;
    }
  }

  &:nth-child(4) {
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &:nth-child(5) {
    @media screen and (max-width: 576px) {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.descriptionItemHeader {
  @include sato(bold, 2.5rem);
  @media screen and (max-width: 1200px) {
    @include sato(bold, 1.8rem);
  }
  @media screen and (max-width: 992px) {
    @include sato(bold, 1.675rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(bold, 2.25rem);
  }
  @media screen and (max-width: 390px) {
    @include sato(bold, 1.25rem);
  }
}

.descriptionItemDesc {
  @include sato(normal, 1rem);
  white-space: nowrap;
  opacity: 0.6;
  @media screen and (max-width: 1200px) {
    @include sato(normal, 0.9rem);
  }
  @media screen and (max-width: 992px) {
    @include sato(normal, 0.6rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(normal, 0.9rem);
  }
  @media screen and (max-width: 390px) {
    @include sato(normal, 0.65rem);
  }
}

.descriptionItemLine {
  width: 0.0625rem;
  height: 4.625rem;
  background-color: $black_color;
  opacity: 0.2;
  @media screen and (max-width: 1200px) {
    height: 4.425rem;
  }
  @media screen and (max-width: 992px) {
    height: 4.125rem;
  }
  @media screen and (max-width: 768px) {
    height: 4.625rem;
  }
  @media screen and (max-width: 390px) {
    height: 3.625rem;
  }
}

.descriptionInner {
  display: flex;
  flex-direction: column;
}

.descriptionHeader {
  @include int(bold, 2.1rem);
  margin-top: 6.3125rem;

  @media screen and (max-width: 1200px) {
    @include int(bold, 1.785rem);
    margin-top: 4.05rem;
  }
  @media screen and (max-width: 992px) {
    @include int(bold, 1.4rem);
    margin-top: 3rem;
  }
  @media screen and (max-width: 768px) {
    @include int(bold, 1.8rem);
    margin-top: 2rem;
  }

  @media screen and (max-width: 576px) {
    @include int(bold, 1.2rem);
    margin-top: 1.8rem;
  }
  @media screen and (max-width: 390px) {
    @include int(bold, 0.9rem);
    margin-top: 2.5rem;
  }

  h1 {
    margin: 0;
    line-height: 4rem;

    @media screen and (max-width: 1200px) {
      line-height: 3.5rem;
    }
    @media screen and (max-width: 992px) {
      line-height: 3rem;
    }
    @media screen and (max-width: 768px) {
      line-height: 4rem;
    }
    @media screen and (max-width: 576px) {
      line-height: 3rem;
    }
    @media screen and (max-width: 390px) {
      line-height: 2.2rem;
    }
  }
}

.descriptionDesc {
  @include sato(normal, 1rem);
  max-width: 34.0625rem;
  margin: 2rem 0;
  @media screen and (max-width: 1200px) {
    @include sato(normal, 0.9rem);
    max-width: 31.25rem;
  }
  @media screen and (max-width: 992px) {
    @include sato(normal, 0.75rem);
    max-width: 25rem;
    margin: 1.75rem 0;
  }
  @media screen and (max-width: 768px) {
    @include sato(normal, 1rem);
    max-width: 35rem;
    margin: 2rem 0;
  }
  @media screen and (max-width: 576px) {
    @include sato(normal, 0.7rem);
    max-width: 35rem;
    margin: 1.75rem 0;
  }
  @media screen and (max-width: 390px) {
    @include sato(normal, 0.7rem);
    max-width: 35rem;
    margin: 1.75rem 0;
  }
}

.buttonMain {
  background-color: $black_color;
}
