
.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.upperBlock {
  width: 100%;
  height: 5.625rem;
  @media screen and (max-width: 768px) {
    height: 12.5rem;
  }
}

.lowerBlock {
  width: 100%;
  background-color: $lightgray_color;
}

.stayContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 11.25rem;
  border-radius: 1.25rem;
  background-color: $black_color;
  position: relative;
  transform: translateY(-50%);
  @media screen and (max-width: 768px) {
    max-height: 25rem;
  }
}

.stayInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2.25rem 4rem;
  @media screen and (max-width: 1200px) {
    padding: 2.25rem 3.75rem;
  }
  @media screen and (max-width: 992px) {
    padding: 2.25rem 2.75rem;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }
  @media screen and (max-width: 576px) {
    padding: 1.75rem 2rem;
  }
}

.stayText {
  color: $white_color;
  max-width: 34.4375rem;
  line-height: 3rem;
  @include int(bold, 2.5rem);
  @media screen and (max-width: 1200px) {
    max-width: 28.125rem;
    @include int(bold, 2rem);
  }
  @media screen and (max-width: 992px) {
    max-width: 21.125rem;
    @include int(bold, 1.4rem);
  }
  @media screen and (max-width: 768px) {
    max-width: unset;
    width: 100%;
    @include int(bold, 2rem);
  }
  @media screen and (max-width: 576px) {
    @include int(bold, 1.75rem);
  }
  @media screen and (max-width: 390px) {
    @include int(bold, 1.15rem);
  }
}

.stayInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  max-width: 21.8125rem;
  height: 100%;
  @media screen and (max-width: 1200px) {
    max-width: 18.75rem;
  }
  @media screen and (max-width: 992px) {
    max-width: 17.1875rem;
  }
  @media screen and (max-width: 768px) {
    max-width: unset;
    width: 100%;
  }
}

.stayInput {
  display: flex;
  width: 100%;
  height: 3rem;
  background-image: url("../../../public/footer/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 1.3125rem;
  padding-left: 3.25rem;
  outline: none;
  border-radius: 3.875rem;
  border: 2px solid $white_color;
  @include sato(normal, 1rem);
  @media screen and (max-width: 768px) {
    height: 3.4375rem;
  }
  @media screen and (max-width: 390px) {
    background-image: none;
    padding: 0.125rem 1.25rem;
    @include sato(normal, 0.85rem);
  }

  &--blurred {
    background-image: url("../../../public/footer/mail-icon.svg");
  }
  
  &:focus {
    padding: 0.25rem 1rem;
    background-image: unset;
    border: 2px solid $gray_color;
  }
}

.stayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  width: 100%;
  padding: 0.75rem 5.5313rem;
  white-space: nowrap;
  text-align: center;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: $black_color;
  background-color: $white_color;
  border-radius: 3.875rem;
  border: 2px solid $white_color;
  &:hover {
    border: 2px solid $gray_color;
  }
  &:active {
    border: 2px solid $black_color;
  }
  @media screen and (max-width: 768px) {
    height: 3.4375rem;
    font-size: 0.95rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: 390px) {
    font-size: 0.75rem;
  }
}

.footerList {
  display: flex;
  position: relative;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
  @media screen and (max-width: 768px) {
    transform: translateY(-32%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
  }
}

.footerItem {
  display: flex;
  flex-direction: column;
  max-height: 11.0625rem;
  &:nth-child(1) {
    height: 100%;
    gap: 1.25rem;
    max-width: 15.5rem;
    @media screen and (max-width: 992px) {
      max-width: 13.175rem;
    }
    @media screen and (max-width: 768px) {
      grid-area: 1 / 1 / 2 / 5;
    }
  }
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    height: 100%;
    gap: 1.625rem;
    max-width: 11.0625rem;
    @media screen and (max-width: 992px) {
      max-width: 9.4031rem;
    }
  }
  &:nth-child(2) {
    @media screen and (max-width: 768px) {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
  &:nth-child(3) {
    @media screen and (max-width: 768px) {
      grid-area: 2 / 3 / 3 / 5;
    }
  }
  &:nth-child(4) {
    @media screen and (max-width: 768px) {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
  &:nth-child(5) {
    @media screen and (max-width: 768px) {
      grid-area: 3 / 3 / 4 / 5;
    }
  }
}

.logoBox {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.logo {
  transform: translateY(-25%);
  display: inline-block;
  @include int(bold, 2.125rem);
}

.logoText {
  display: flex;
  @include sato(normal, 0.875rem);
  @media screen and (max-width: 992px) {
    @include sato(normal, 0.7875rem);
  }
}

.logoIcons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoButton {
  display: flex;
  background-color: unset;
  border: none;
  color: unset;
  padding: 0;
}

.logoButtonPng {
  width: 28px;
  height: auto;
}

.footerLinksList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8.3125rem;
}

.footerMain {
  display: flex;
  justify-content: start;
  @include sato(500, 1rem);
  color: $black_color;
  @media screen and (max-width: 992px) {
    @include sato(500, 0.85rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(500, 1rem);
  }
}

.footerLinksItem {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  max-height: 8.3125rem;
  @include sato(normal, 1rem);
  @media screen and (max-width: 992px) {
    @include sato(normal, 0.85rem);
  }
  @media screen and (max-width: 768px) {
    @include sato(normal, 1rem);
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
    color: $black_color;
  }
}

.innerLine {
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateY(-30px);
  @media screen and (max-width: 768px) {
    transform: translateY(-140px);
  }
}

.line {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #0000001f;
}

.rightsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    transform: translateY(-110px);
  }
}

.rightsText {
  display: flex;
  text-align: center;
  @include sato(normal, 0.875rem);
  color: #00000060;
}

.rightsIcons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  @media screen and (max-width: 576px) {
    gap: 0.5rem;
  }
  @media screen and (max-width: 390px) {
    gap: 0.125rem;
  }
}
