@import "../../../../style/mixins.scss";
@import "../../../../style/variables.scss";

.burgerButton {
  z-index: 1;
  display: none;
  background-color: unset;
  border: unset;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    display: flex;
  }
  @media screen and (max-width: 576px) {
    order: 0;
    justify-content: start;
  }
}

.burgerButtonSvg {
  color: $black_color;
}

.buttonContainer {
  display: none;
  flex-direction: column;
  width: 60%;
  position: fixed;
  z-index: 1000;
  left: 0;
  background-color: $black_color;
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transform: translateX(-9.375rem);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 576px){
    width: 100%;
  }
}

.windowMenu {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  width: 100%;
  list-style-type: none;
  height: 100%;
  padding-bottom: 1.6rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.windowMenuItem {
  display: flex;
  align-items: center;
  margin-left: 2.25rem;
  gap: 1rem;

  &:nth-child(4),
  &:nth-child(5){
    margin-left: 2.875rem;
  }
}

.windowMenuItemShop {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  padding-bottom: 1.5625rem;
}

.menuListItemA {
  text-decoration: unset;
  white-space: nowrap;
  color: $white_color;
  list-style-type: none;
  padding: 0.625rem;
  @include sato(bold, 1.5rem);

  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}

.menuButton {
  color: $white_color;
  border: unset;
  background-color: unset;
  transform: rotateZ(270deg);
  padding: 0.625rem;
}

.menuButtonSvg {
  height: 15px;
  width: 15px;
}

.shopInner {
  display: flex;
  flex-direction: column;
}

.shopMenu {
  display: none;
  flex-direction: column;
  gap: 0.3125rem;
  width: 100%;
  margin-left: 4rem;
  padding-bottom: 0.625rem;
}

.shopMenuItemA {
  text-decoration: unset;
  color: $white_color;
  @include sato(normal, 1rem);

  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}

.mailLink,
.phoneLink {
  color: $white_color;
  text-decoration: unset;
  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}



.closeContainer {
  padding-top: 1rem;
  padding-left: 1.5625rem;
  padding-right: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.closeButton {
  background-color: unset;
  border: unset;
  color: $white_color;
  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}
