

.menuButtons {
  gap: 0.875rem;
  @include display(flex, null, center, center);

  @media screen and (max-width: 768px) {
    margin-left: auto;
  }
  @media screen and (max-width: 576px) {
    order: 3;
    @include display(null, null, space-between, null);
  }
}

.menuBuy,
.menuProfile {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  @include display(flex, null, center, center);

  &:hover {
    color: $darkgray_color;
  }

  &:active {
    color: $gray_color;
  }
  @media screen and (max-width: 576px) {
    width: 25px;
    height: 25px;
  }
}

.buttonSearch {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  @include display(none, null, center, center);

  &:hover {
    color: $darkgray_color;
  }

  &:active {
    color: $gray_color;
  }

  @media screen and (max-width: 992px) {
    display: flex;
  }
  @media screen and (max-width: 576px) {
    width: 25px;
    height: 25px;
  }
}
.discountButton {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  @include display(none, null, center, center);
  &:hover {
    color: $darkgray_color;
  }

  &:active {
    color: $gray_color;
  }
  @media screen and (max-width: 576px) {
    width: 25px;
    height: 25px;
  }
}

.buttonSearchSvg,
.discountButtonSvg,
.menuBuySvg,
.menuProfileSvg {
  display: block;
  margin: auto;
  @include display(block);
}

.discountButtonSvg {
  width: 17px;
  height: 17px;
}
