.header {
  position: relative;
  width: 100%;

  &-discount {
    background-color: $black_color;
    color: $white_color;

    &__inner {
      padding: 0.5625rem 0;

      @include display(flex, space-between, center);
    }

    &__text {
      width: 100%;
      text-align: center;
      margin: 0 auto;

      @include sato(normal, 1rem);

      a {
        color: $white_color;

        @include sato(600, 1rem);

        &:hover {
          color: $sogray_color;
        }

        &:active {
          color: $gray_color;
        }
      }
    }

    &__button {
      display: block;

      margin-left: auto;
      background-color: unset;
      border: unset;
      color: $white_color;

      svg {
        height: 0.875rem;
        width: 0.875rem;
        @include display(flex, center, center);
      }

      &:hover {
        color: $gray_color;
      }

      &:active {
        color: $black_color;
      }
    }
  }

  &-menu {
    width: 100%;
    color: $white_color;

    &-inner {
      padding: 1.5rem 0;
    }

    &__icon {
      display: flex;

      align-items: center;
      width: 100%;
      max-width: 10rem;
      color: $black_color;
      font-family: Impact, sans-serif;
      font-weight: bold;
      font-size: 2rem;
      text-decoration: unset;
      letter-spacing: 0.5rem;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      &__item {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;

        color: $black_color;
        text-decoration: unset;

        &_a {
          text-decoration: unset;
          white-space: nowrap;
          color: $black_color;
          @include sato(bold, 1rem);

          &:hover {
            color: $gray_color;
          }

          &:active {
            color: $lightgray_color;
          }
        }
      }

      
      &-shop {
        margin-top: 2.8rem;
        background-color: $black_color;
        position: absolute;
        top: 0;
        left: -80%;
        z-index: 1000;
        border-radius: 1.5rem;
        padding: 1.5rem 2rem;
        &__item {
          text-align: center;
          a {
            text-decoration: unset;
            color: $white_color;
            @include sato(bold, 1rem);

            &:hover{
              color: $sogray_color;
            }
            &:active{
              color: $gray_color;
            }
          }
          &:not(:last-child) {
            padding-bottom: 1.25rem;
          }
        }
      }
    }

    &__button{
      border: unset;
      background-color: unset;
    }
    &-bar {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      &-container {
        display: flex;
      }
    }

    &-search {
      max-width: 36.0625rem;
      width: 100%;
      position: relative;
      &-input {
        width: 100%;
        max-width: 36.0625rem;
        max-height: 3rem;
        padding: 0.75rem;
        padding-left: 3.25rem;
        background-color: $lightgray_color;
        border-radius: 3.875rem;
        border: 2px solid $lightgray_color;
        border: unset;
        background-image: url(/public/searchIco.svg);
        background-repeat: no-repeat;
        background-position: 1rem center;
        background-size: 1.3125rem;
         outline: none;

        @include display(flex, center, center);
        @include sato(bold, 1rem);

        &:hover {
          border-color: red;
        }

        &:active{
          border-color: $lightgray_color;
        }
      }

      &-results {
        margin-top: 3.625rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        max-width: 36.0625rem;
        border-radius: 1.5rem;
        background-color: $black_color;
        visibility: visible;
        padding: 1.5rem 0;
        &-item {
          padding: 0.3125rem 1.25rem;
          @include sato(normal, 1rem);
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 0.875rem;
      &__buy {
        display: block;
        background-color: unset;
        border: unset;
        padding: 0;

        &:hover{
          color: $gray_color;
        }

        &__svg {
          display: block;
        }
      }
      &__profile {
        background-color: unset;
        border: unset;
        padding: 0;

        &:hover{
          color: $gray_color;
        }

        &__svg {
          display: block;
        }
      }
    }
  }
}
