@import "../../../../style/mixins.scss";
@import "../../../../style/variables.scss";

.descriptionInner{
    display: flex;
    flex-direction: column;
}

.descriptionHeader{
    @include int(bold,2.1rem);
    margin-top: 6.3125rem;

    h1{
        margin: 0;
        line-height: 4rem;
    }
}

.descriptionDesc{
    @include sato(normal,1rem);
    max-width: 34.0625rem;
    margin: 2rem 0;
}

.buttonMain{
    background-color: $black_color;
}