
.inner {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  @media screen and (max-width: 1200px) {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  @media screen and (max-width: 992px) {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.productsWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  @include int(bold, 3rem);
  color: $black_color;

  @media screen and (max-width: 1200px) {
    @include int(bold, 2.75rem);
  }
  @media screen and (max-width: 992px) {
    @include int(bold, 2.5rem);
  }
  @media screen and (max-width: 576px) {
    @include int(bold, 2rem);
  }
  @media screen and (max-width: 390px) {
    @include int(bold, 1.6rem);
  }
}

.productsList {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.4375rem;
  margin-bottom: 2.25rem;

  @media screen and (max-width: 1200px) {
    margin-top: 3.0938rem;
    margin-bottom: 2.025rem;
  }
  @media screen and (max-width: 1200px) {
    margin-top: 2.0938rem;
    margin-bottom: 1.725rem;
  }
  
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    list-style: none;
    min-width: min-content;
  }
}

.slideContainer {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media screen and (max-width: 768px) {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  &::-webkit-scrollbar{
     display: none;
  }
}

.productItem {
  @media screen and (max-width: 768px) {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}