.productsList {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.4375rem;
  margin-bottom: 2.25rem;

  @media screen and (max-width: 1200px) {
    margin-top: 3.0938rem;
    margin-bottom: 2.025rem;
  }
  @media screen and (max-width: 1200px) {
    margin-top: 2.0938rem;
    margin-bottom: 1.725rem;
  }
  
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    list-style: none;
    min-width: min-content;
  }
}

.slideContainer {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media screen and (max-width: 768px) {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  &::-webkit-scrollbar{
     display: none;
  }
}

.productItem {
  @media screen and (max-width: 768px) {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}