
.buttonMain{
    background-color: $black_color;
    color: $white_color;
    padding: 1rem 3.375rem;
    width: fit-content;
    border-radius: 3.875rem;
    border: 2px solid $black_color;
    @include sato(normal,1rem);
    &:hover{
        border: 2px solid #F2F0F1;
        color: $lightgray_color;
    }
    &:active{
        border: 2px solid #F2F0F1;
        color: $darkgray_color;
    }

    @media screen and (max-width:1200px){
        padding: 0.85rem 2.86875rem;
    }
    @media screen and (max-width:992px){
        padding: 0.75rem 2.53125rem;
    }
    @media screen and (max-width:768px){
        padding: 1.25rem 3.375rem;
        width: 100%;
    }
    @media screen and (max-width:576px){
        padding: 0.6rem 3.375rem;
        width: 100%;
    }

}

.product{
    margin-top: 1.875rem;
    padding: 1rem 3.375rem;
    background-color: $white_color;
    border-radius: 3.875rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    @include sato(500,1rem);
    color: $black_color;
    &:hover{
        border: 2px solid #cccccc;
        color: #cccccc;
    }
    &:active{
        border: 2px solid #7a7a7a;
        color: #7a7a7a;
    }
    @media screen and (max-width:768px){
        width: 100%;
        padding: 1rem 3.375rem;
        @include sato(500,1.25rem);
    }
    @media screen and (max-width:390px){
        width: 100%;
        padding: 1rem 3.375rem;
        @include sato(500,1rem);
    }
}

.productA{
    color: $black_color;
    text-decoration: unset;
    &:hover{
        color: #cccccc;
    }
    &:active{
        color: #7a7a7a;
    }
}