@import "../../../style/mixins.scss";
@import "../../../style/variables.scss";

.headerMenu {
  width: 100%;
  z-index: 1;
  color: $white_color;
}

.headerInner {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @media screen and (max-width:992px){
    justify-content: space-between;
    gap: 16px;
  }
  @media screen and (max-width: 768px){
    justify-content: start;
  }
  @media screen and (max-width: 576px){
    flex-wrap: wrap;
  }
}
