
.inner {
  display: flex;
  width: 100%;
  background-color: $black_color;
  margin-bottom: .5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.75rem 0;
  width: 100%;
  list-style: none;
  margin: 0;
  height: 100%;
  gap: 6.625rem;
  flex-wrap: nowrap;
  @media screen and (max-width: 1200px) {
    gap: 4.5rem;
  }
  @media screen and (max-width: 992px) {
    gap: 3.5rem;
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 1.75rem 0;
  }
  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    padding: 2rem 0;
  }
  @media screen and (max-width: 390px) {
    flex-wrap: wrap;
    row-gap: 1.25rem;
    column-gap: 1.25rem;
    padding: 1.5rem 0;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white_color;
  &:nth-child(4) {
    @media screen and (max-width: 768px) {
      width: 40%;
      margin-left: auto;
    }
  }
  &:nth-child(5) {
    @media screen and (max-width: 768px) {
      width: 40%;
      margin-right: auto;
    }
  }
}

.itemSvg {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: auto;
  @media screen and (max-width: 1200px) {
    max-height: 2rem;
    width: auto;
  }
  @media screen and (max-width: 992px) {
    max-height: 1.8rem;
    width: auto;
  }
  @media screen and (max-width: 768px) {
    max-height: 2rem;
    width: auto;
  }
  @media screen and (max-width: 576px) {
    max-height: 1.4rem;
    width: auto;
  }
  @media screen and (max-width: 390px) {
    max-height: 1rem;
    width: auto;
  }
}
