@import "../../../style/mixins.scss";
@import "../../../style/variables.scss";

.headerInner{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 37.25rem;
    @media screen and (max-width:1200px){
        max-width: 31.25rem;
    }
    @media screen and (max-width:992px){
        max-width: 440px;
    }
    @media screen and (max-width:768px){
        max-width: unset;
    }
}