@import "../../../style/mixins.scss";
@import "../../../style/variables.scss";

.headerInner{
    display: flex;
    flex-direction: column;
    max-width: 37.25rem;
    @media screen and (max-width:1200px){
        max-width: 31.25rem;
    }
}