

.burgerButton {
  z-index: 1;
  display: none;
  background-color: unset;
  border: unset;
  transition: all 0.3s ease-in-out;
  @include display(none);
  @media screen and (max-width: 768px) {
    @include display(flex);
  }
  @media screen and (max-width: 576px) {
    order: 0;
    @include display(null, null, start);
  }
  @media screen and (max-width: 390px) {
    order: 1;
  }
}

.burgerButtonSvg {
  color: $black_color;
}

.buttonContainer {
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  background-color: $black_color;
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transform: translateX(-9.375rem);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  @include display(none, column);
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.windowMenu {
  gap: 1.5625rem;
  width: 100%;
  list-style-type: none;
  height: 100%;
  padding-bottom: 1.6rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  @include display(flex, column);
}

.windowMenuItem {
  margin-left: 2.25rem;
  gap: 1rem;

  &:nth-child(4),
  &:nth-child(5) {
    margin-left: 2.875rem;
    @media screen and (max-width: 390px){
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
  @include display(flex, null, null, center);
}

.windowMenuItemShop {
  flex-wrap: wrap;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  padding-bottom: 1.5625rem;
  @include display(flex, null, null, center);
}

.menuListItemA {
  text-decoration: unset;
  white-space: nowrap;
  color: $white_color;
  list-style-type: none;
  padding: 0.625rem;
  @include sato(bold, 1.5rem);

  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}

.menuButton {
  color: $white_color;
  border: unset;
  background-color: unset;
  transform: rotateZ(270deg);
  padding: 0.625rem;
}

.menuButtonSvg {
  height: 15px;
  width: 15px;
}

.shopInner {
  @include display(flex, column);
}

.shopMenu {
  gap: 0.3125rem;
  width: 100%;
  margin-left: 4rem;
  padding-bottom: 0.625rem;
  transform: translateY(-0.9375rem);
  transition: all 0.5s ease-in-out;
  @include display(none, column);
}

.shopMenuItemA {
  text-decoration: unset;
  color: $white_color;
  @include sato(normal, 1rem);

  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}

.mailLink,
.phoneLink {
  color: $white_color;
  text-decoration: unset;
  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}

.closeContainer {
  padding-top: 1rem;
  padding-left: 1.5625rem;
  padding-right: 1.25rem;
  @include display(flex, null, end, center);
}

.closeButton {
  background-color: unset;
  border: unset;
  color: $white_color;
  &:hover {
    color: $lightgray_color;
  }
  &:active {
    color: $gray_color;
  }
}
